html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

body {
  background-color: rgb(255, 255, 255);
}

/* Main */
.main-jumbo {
  background-image: url('./img/machine1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

.about-container {
  padding-top: 100px;
}
.whatwedo-container {
  padding-top: 175px;
  padding-bottom: 175px;
}
.services-container {
  padding-top: 175px;
  padding-bottom: 100px;
}

.jumbo-quote {
  background-image: url('./img/demo3-4-resize.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-container {
  padding-top: 50px;
}

.carousel {
  margin-left: 200px;
  margin-right: 200px;
}

.carousel img {
  height: 500px;
}

/* About */
.about-content {
  padding-top: 80px;
  padding-bottom: 100px;
}

.map-container {
  padding-top: 100px;
  padding-bottom: 50px;
}

/* Services */
.services-img {
  height: 600px;
}

/* Contact */
.contact-jumbo {
  background-image: url('./img/dirt2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  opacity: 0.5;
}

.contact-group {
  width: 85%;
}

@media (max-width: 800px) {
  .carousel {
    height: 500px;
    margin: auto;
    overflow: hidden;
  }
}

@media (max-width: 700px) {
  .carousel {
    height: 400px;
    margin: auto;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .carousel {
    width: 400px;
    height: 250px;
    margin: auto;
    overflow: hidden;
  }
}
