html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

body {
  background-color: rgb(255, 255, 255);
}
.main-jumbo {
  background-image: url('./img/machine1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

.jumbo-quote {
  background-image: url('./img/demo3-4-resize.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel {
  margin-left: 200px;
  margin-right: 200px;
}

.carousel img {
  height: 500px;
}

/* Services */
.services-img {
  height: 600px;
}

@media (max-width: 800px) {
  .carousel {
    height: 500px;
    margin: auto;
    overflow: hidden;
  }
}

@media (max-width: 700px) {
  .carousel {
    height: 400px;
    margin: auto;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .carousel {
    width: 400px;
    height: 250px;
    margin: auto;
    overflow: hidden;
  }
}
